:root{
    --jhb-font-com: 'Comfortaa', cursive;
    --jhb-font-gugi: 'Gugi', cursive;
    --jhb-font-sans: 'Noto Sans KR', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    font-family: var(--jhb-font-gugi);
}

.table[type="cal"]>*>*>*:nth-child(1){
    color: rgb(255, 130, 130);
}
.table[type="cal"]>*>*>*:nth-child(7){
    color: rgb(123, 123, 255);
}

td:hover{
    background-color: rgb(245, 245, 245);
}

td{
    cursor: pointer;
    padding: .5rem !important;
}

[hidden]{
    display: none !important;
}

[type="scd"]{
    box-shadow: inset 0 0 9999px rgba(255, 170, 170, 0.308);
}

#timeLine{
    margin-top: 3em;
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10em;
}

sup{
    position: relative;
    top: -0.5em;
    color: coral;
    font-size: .7em;
    font-weight: bold;
}

[idx]{
    pointer-events: none;
}

.done{
    box-shadow: inset 0 0 9999px rgb(228, 228, 228);
    text-decoration: line-through;
    color: rgb(185, 185, 185);
}

#todo{
    resize: none;
    height: 10em;
}